<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<title>TinyMCE via Twig templates</title>
    </head>
    <body>
		{{ tinymce("<p>Initial text value</p>", { name: "comment", menubar: "format" }) }}
    </body>
</html>
